/bin
/src/CMakeFiles
/src/Win32
/src/theapp/CMakeFiles
/src/theapp/win32/Debug
/src/theapp/theapp.dir/Debug
/src/mymath/CMakeFiles
/src/mymath/win32/Debug
/src/mymath/libmath.dir/Debug
/src/mymath/Debug


/src/sharedmod/CMakeFiles
/src/sharedmod/sharedmod.dir/Debug
/src/sharedmod/Debug

/src/libutil/CMakeFiles
/src/libutil/win32/Debug
/src/libutil/libutil.dir/Debug
/src/libutil/Debug

*.vcxproj
*.vcxproj.filters


cmake_install\.cmake

src/theapp/Project\.sln
src/mymath/Project\.sln
src/libutil/Project\.sln
src/sharedmod/Project\.sln

src/cmakedemo.sln

CMakeCache\.txt
